@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(inter);
  font-feature-settings: "ss01", "ss03", "cv11";
}

@layer utilities {
  .barCompleted {
    background-color: lightblue;
    width: 80%;
  }

  .truncate-text-100 {
    display: inline-block;
    max-width: calc(100ch + 1rem); /* Adjust the value if needed */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
