@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(inter);
  font-feature-settings: "ss01", "ss03", "cv11";
}

@layer utilities {
  .barCompleted {
    background-color: lightblue;
    width: 80%;
  }

  .truncate-text-100 {
    display: inline-block;
    max-width: calc(100ch + 1rem); /* Adjust the value if needed */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .nav-enter {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }

  .nav-enter-active {
    transform: translateX(0);
    opacity: 1;
  }

  .nav-exit {
    transform: translateX(0);
    opacity: 1;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }

  .nav-exit-active {
    transform: translateX(100%);
    opacity: 0;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
